* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 110px;
    margin-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #072959;
    text-align: center;
    color: white;
}

.content-wrapper {
    width: 150px;
    margin: auto;
}

.page-maker-div {
    width: 600px;
    margin: auto;
    border: 2px solid black;
}

.page-maker {
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.page-marker-selected {
    background-color: #738FF2;
}

 /* Main */
.form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.form-section {
    margin-top: 20px;
}

.form-title-topic {
    font-size: 28px;
    margin: 20px 0px 10px 0px;
    text-indent: 10px;
}

.form-title-input {
    color: #424242;
    margin: 8px 0px;
    font-size: 16px;
    text-indent: 5px;
}

.form-container-grid-1 {
    display: grid;
    grid-template-columns: 53% 40%;
    grid-gap: 7%;
}

.form-container-grid-2 {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

/* Inputs */

.form-input {
    background-color: white;
    width: 100%;
    font-size: 15px;
    text-indent: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.6px solid rgba(42, 42, 42, 0.492);
}

.form-input-bigger {
    min-height: 70px;
    font-size: 15px;
    padding: 9px;
    border-radius: 5px;
    border: 0.6px solid rgba(42, 42, 42, 0.492);
}

.form-input:valid {
    box-shadow: 3px 2px 0px #072959;
}

.form-input-skills {
    margin-top: 20px;
}

.form-input-bigger p {
    top: 0;
}

.form-input:hover {
    background-color: rgba(240, 240, 240, 0.363);
}

.form-button-continue {
    background-color: #605CE9;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 0.3px solid rgba(42, 42, 42, 0.332);
    width: 170px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.form-button-continue:active {
    background-color: #3d3aab;
}

.form-button-add {
    background-color: #cec9e27c;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 170px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.form-button-add:hover {
    background-color: #cec9e2be;
}