* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 90px;
    margin-bottom: 50px;
}

header {
    position: fixed;
    height: 40px;
    padding: 5px;
    top: 0;
    width: 100%;
    background-color: #072959;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 18px;
}

.asterisk {
    color: red;
}

.content-wrapper {
    width: 150px;
    margin: auto;
}

.page-maker-div {
    width: 600px;
    margin: auto;
    border: 2px solid black;
}

.page-maker {
    display: inline-block;
    padding: 6px;
    margin-left: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.page-marker-selected {
    background-color: #738FF2;
}

 /* Main */
.form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.form-section {
    margin-top: 20px;
}

.form-title-topic {
    font-size: 28px;
    margin: 25px 0px 15px 0px;
    text-indent: 10px;
}

.form-title-input {
    color: #424242;
    margin: 8px 0px;
    font-size: 16px;
    text-indent: 5px;
}

.form-container-grid-1 {
    display: grid;
    grid-template-columns: 53% 40%;
    grid-gap: 7%;
}

.form-container-grid-2 {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

.form-container-grid-3 {
    display: grid;
    grid-template-columns: 44.5% 44.5% 5%;
    grid-gap: 2%;
}

.form-container-grid-4 {
    display: grid;
    grid-template-columns: 91% 5%;
    grid-gap: 2%;
}

/* Inputs */

.form-input {
    background-color: white;
    width: 100%;
    font-size: 15px;
    text-indent: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.6px solid rgba(42, 42, 42, 0.492);
}

.form-input-bigger {
    min-height: 70px;
    font-size: 15px;
    padding: 9px;
    border-radius: 5px;
    border: 0.6px solid rgba(42, 42, 42, 0.492);
}

.form-input:focus {
    outline: none;
    box-shadow: 0px -3px 0px #103d7ce2 inset;
}

.form-input-skills {
    margin-top: 20px;
}

.form-input-bigger p {
    top: 0;
}

.form-input:hover {
    background-color: rgba(240, 240, 240, 0.363);
}

.form-button-continue {
    background-color: #605CE9;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 0.3px solid rgba(42, 42, 42, 0.332);
    width: 170px;
    margin-top: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.form-button-continue:hover {
    background-color: #3d3aab;
}

.form-button-continue:active {
    background-color: #3d3aab;
}

.form-button-add-1 {
    background-color: #cec9e27c;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 170px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.form-button-add-2 {
    background-color: #cec9e27c;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.251);
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.form-button-add-1:hover {
    background-color: #cec9e2be;
}

.form-button-add-2:hover {
    background-color: #b9b3ce86;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.271);
    
}

.form-button-add-2:active {
    background-color: #8d88a2be;
}

hr {
    margin-top: 10px;
    border-color: rgb(225, 225, 225);
}

.form-input-alert {
    border-color: #072959;
    animation: tremer 0.5s ease infinite;
}

.form-abilities-container {
    margin: 20px 0px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 2px 15px;
    font-weight: bold;
    height: auto;
    word-wrap: break-word;
}

.form-idioms-container {
    margin: 20px 0px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 2px 15px;
    font-weight: bold;
}

@keyframes tremer {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, 0); }
    20% { transform: translate(5px, 0); }
    30% { transform: translate(-5px, 0); }
  }