@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

.title {
    font-size: 28px;
    margin: 25px 0px 15px 0px;
}

.title-topic {
    display: inline-block;
    width: 300px;
    font-size: 20px;
} 

.header-subtitle {
    color: #6D6D6D;
    font-size: 16px;
    line-height: 21px;
}

.usrInfo {
    color: #6D6D6D;
    font-size: 15px;
    margin: 13px 0px;
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.name-title {
    font-size: 28px;
    display: inline-block;
    width: 90%;
}

.pencil-img:hover {
    background-color: rgba(84, 93, 225, 0.236);
}

hr {
    margin-top: 20px;
    border-color: rgb(225, 225, 225);
}

.empty-add-div {
    outline: 1px dashed rgba(135, 135, 135, 0.432);
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 16px;
    color: gray;
}

.add-img:hover {
    background-color: rgba(135, 206, 250, 0.308);
}