@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');


* {
    font-family: 'Noto Sans', sans-serif;
}

.container-revision {
    margin: 15px 0px;
    border: 0.5px solid rgba(128, 128, 128, 0.373);
    padding: 15px 20px;
    border-radius: 10px;
}

.icon-img {
    background-color: transparent;
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.icon-img:hover {
    background-color: rgba(249, 131, 131, 0.236);
}

.icon-img:active {
    background-color: rgba(207, 60, 60, 0.39);
}

.title-revision-1 {
    display: inline-block;
    width: 84%;
    color: #424242;
    margin: 8px 0px;
    font-size: 16px;
}

.title-revision-2,
.title-revision-3,
.description-revision {
    font-size: 14px;
    line-height: 21px;
}

.title-revision-2:hover,
.title-revision-3:hover,
.description-revision:hover {
    text-decoration: underline;
}

.title-revision-2 {
    color: #595959;
}

.title-revision-3 {
    margin: 10px 0px;
    color: #767676;
}

.description-revision {
    color: #2D2D2D;
}

.skills-title {
    width: 85%;
    display: inline-block;
}

.revision-description {
    font-size: 14px;
    color: #595959;
}

.abilities-container,
.idioms-container {
    margin: 20px 0px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    padding: 2px 15px;
    font-weight: bold;
    height: auto;
    word-wrap: break-word;
}